<%- include("partials/header"); -%>

    <div class="fullArticle">
        <h2>
            <%= newsArticle.title %>
        </h2>
        <img src=<%=newsArticle.imageLink%>  alt="";>

        <p>
            <%= newsArticle.content %>
        </p>
       
    </div> 
   
    <script src='/js/script.js' type='text/javascript'></script>

    <%- include("partials/footer"); -%>



